[submodule "src/git.apache.org/thrift.git"]
    path=src/git.apache.org/thrift.git
    url=git://git.apache.org/thrift
[submodule "src/github.com/astaxie/beego"]
    path=src/github.com/astaxie/beego
    url=https://github.com/astaxie/beego
[submodule "src/github.com/DrWrong/finalProject_securityserver"]
    path=src/github.com/DrWrong/finalProject_securityserver
    url=git@github.com:DrWrong/finalProject_securityserver.git
[submodule "src/github.com/DrWrong/finalProject_UI"]
    path=src/github.com/DrWrong/finalProject_UI
    url=git@github.com:DrWrong/finalProject_UI.git
[submodule "src/github.com/DrWrong/finalProject_weatherserver"]
    path=src/github.com/DrWrong/finalProject_weatherserver
    url=git@github.com:DrWrong/finalProject_weatherserver.git
[submodule "src/golang.org/x/net"]
    path=src/golang.org/x/net
    url=https://go.googlesource.com/net
[submodule "src/gopkg.in/flosch/pongo2.v3"]
    path=src/gopkg.in/flosch/pongo2.v3
    url=https://gopkg.in/flosch/pongo2.v3
[submodule "src/gopkg.in/ini.v1"]
    path=src/gopkg.in/ini.v1
    url=https://gopkg.in/ini.v1
[submodule "src/github.com/Sirupsen/logrus"]
    path=src/github.com/Sirupsen/logrus
    url=https://github.com/Sirupsen/logrus
[submodule "src/github.com/Unknwon/com"]
    path=src/github.com/Unknwon/com
    url=https://github.com/Unknwon/com
[submodule "src/github.com/Unknwon/macaron"]
    path=src/github.com/Unknwon/macaron
    url=https://github.com/Unknwon/macaron
[submodule "src/github.com/macaron-contrib/pongo2"]
    path=src/github.com/macaron-contrib/pongo2
    url=https://github.com/macaron-contrib/pongo2
[submodule "src/github.com/parnurzeal/gorequest"]
    path=src/github.com/parnurzeal/gorequest
    url=https://github.com/parnurzeal/gorequest
